body {
    background-color: #121212;
    color: #e0e0e0;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  div {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
  }
  
  input[type="text"] {
    background-color: #2a2a2a;
    border: 1px solid #555;
    color: #fff;
    padding: 10px;
    width: 100%;
    margin-bottom: 30px;
    border-radius: 4px;
    font-size: 16px;
  }
  
  input[type="text"]::placeholder {
    color: #888;
  }
  
  button {
    background-color: #6200ea;
    color: #fff;
    border: none;
    padding: 12px;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50px; 
    margin-top: 10px
  }
  
  button:hover {
    background-color: #3700b3;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #bb86fc;
  }
  
  div input, div button {
    transition: background-color 0.3s, transform 0.2s;
  }
  
  div input:focus {
    background-color: #333;
    outline: none;
  }
  
  div button:active {
    transform: scale(0.98);
  }
  